<html>
<head>
  <title>Mustache test</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://raw.github.com/documentcloud/underscore/813bb57bf07d507790c6d0957dd113f0cbff0f5e/underscore-min.js"></script>
  <script type="text/javascript" src="godb.js"></script>
</head>
<body>

  <h1>Hello</h1>

  <script type="text/html" id="user_tmpl">
    Bundles:
    <ul>
      <% _.each(Bundles, function(bundle) { %>
      <li><%- bundle.Name %></li>
      <% }); %>
    </ul>
  </script>


  <script type="text/javascript">
    var url = "https://docs.google.com/spreadsheet/ccc?key=0Ar35F5WUAjXedDY4R0VTS05UcWhaM081eklIclN0VFE&gid=0";
    GoDB.data(url, function(data) {
      console.log(data);
      GoDB.template({Bundles: data});
    });
  </script>
</body>
</html>