<html>
<head>
  <title>Mustache test</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://raw.github.com/documentcloud/underscore/813bb57bf07d507790c6d0957dd113f0cbff0f5e/underscore-min.js"></script>
</head>
<body>

  <h1>Hello</h1>

  <script type="text/html" id="user_tmpl">
    Games:
    <ul>
      <% _.each(Games, function(game) { %>
      <li><%- game.Name %></li>
      <% }); %>
    </ul>
  </script>


  <script type="text/javascript">
    var Bundles = [
      {
        Name: "Humble bundle",
        URL: "http://www.humblebundle.com/",
        Games: "Gish, DEFCON"
      }
    ];
    var Games = [
      {
        Name: "Gish",
        URL: "http://google.com/",
        RRP: "15.99"
      },
      {
        Name: "DEFCON",
        URL: "http://defcon.com",
        RRP: "10.99"
      }
    ];

    var context = {
      Bundles: Bundles,
      Games: Games
    }

    google.load("visualization", "1", {callback: function() {
      // TODO support multiple sheets by changing the gid. Sadly it seems
      // extra sheets don't have the labels set correctly, even if the first
      // row is frozen. So either we need to guess-correct this here, find out
      // how to set labels in Google Docs, or find some other API which will
      // give us sheet/frozen row data.
      var url = "https://docs.google.com/spreadsheet/ccc?key=0Ar35F5WUAjXedDY4R0VTS05UcWhaM081eklIclN0VFE&gid=0";
      var query = new google.visualization.Query(url);
      query.send(function(response) {
        // TODO check isError
        if (response.isError()) {
          throw response.getDetailedMessage();
        }

        var table = response.getDataTable();

        var cols = [];
        var m = table.getNumberOfColumns();
        for (var i = 0; i < m; i++) {
          cols.push(table.getColumnLabel(i) || table.getColumnId(i));
        }


        m = table.getNumberOfRows();
        var data = [];
        for (var i = 0; i < m; i++) {
          var row = {};
          for (var j = 0; j < cols.length; j++) {
            row[cols[j]] = table.getValue(i, j);
          };
          data.push(row)
        };

        console.log(table, data);
      })
    }});

    var Data = function(sheet) {
      console.log("loaded")
    };

    var Go = function(context, templater) {
      if (typeof context == 'undefined') {
        throw "No context given for templates";
      }
      if (!templater && typeof _ === 'undefined') {
        throw "No templater set. Please load underscore.js";
      }
      templater = templater || _.template;

      // Replace each template script with the HTML that it generates, wrapped in
      // a div. The div element inherits all the attributes set on the template
      // element.
      _.each(document.body.querySelectorAll('script[type="text/html"]'),
        function(tmpl) {
          // Generate the HTML.
          var html = templater(tmpl.innerHTML, context);

          // Create the wrapping div and set the attributes except the type
          // attribute.
          var container = document.createElement("div");
          container.innerHTML = html;
          _.each(tmpl.attributes, function(attr) {
            if (attr.name !== "type") {
              container.setAttribute(attr.name, attr.value);
            }
          });

          var parent = tmpl.parentElement;
          // Insert the div and remove the template script.
          parent.insertBefore(container, tmpl);
          parent.removeChild(tmpl);
        }
      );
    };

    //GoDB.getData()

    Go(context);

    //var html = template({Games: Games});
    //console.log(html);
  </script>
</body>
</html>